<template>
  <div id="app">
    <div class="loader-contrainer" v-if="loading">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="ui four column grid">
      <div class="column" v-for="user in users" :key="user.id">
        <div class="card">
          <input :id="'name-'+user.id" type="text" v-model="user.name">
          <label class="label" :for="'name-'+user.id">Friends</label>
          <div class="description">
            <p>{{user.address.street}}</p>
            <p>{{user.address.zipcode}}</p>
            <p>{{user.address.city}}</p>
          </div>
          <div class="action">
            <button class="btn btn-success" @click="updateUser(user)">Modifier</button>
            <button class="btn btn-danger" @click="deleteUser(user)">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  data(){
    return {
      users: [],
      loading: false,
    }
  },
  methods:{
    deleteUser(user)
    {
      this.$user.remove({id: user.id}).then(data=>{
        console.log(data);
        this.users = this.users.filter(u => u != user);
      },error=>{
        console.error("Error Deleted", error.status)
      })
    },
    updateUser(user){
      this.$user.update({id: user.id}, {name: user.name}).then(response =>{
        console.log(response)
      }, error=>{
        console.error("Error Updated", error.status)
      })
    }
  },
  computed:{
    apiUrl()
    {
      return `http://jsonplaceholder.typicode.com/users`;
    }
  },
  mounted(){
    this.$user = this.$resource("users/{id}", {}, {}, {
      before: ()=> {
        // can get the request in before args
        this.loading = true;
      },
      after: () =>{ // define globaly in Vue instance check main.js
        // can get the response in after args
        this.loading = false;
      }
    });
    this.$user.query().then(response=>{
      //this.users = JSON.parse(data.bodyText);
      console.log(response.data)
      this.users = response.data;
    },
    error=>{
      console.error("Error", error.status, error.statusText)
    })
  }
}
</script>

<style>
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  background-color: #f9f9f9;
  color: rgba(0, 0, 0, .7);
  font-size: 16px;
  font-weight: 600;
}
/*  LOADER CSS */
.loader-contrainer{
  background-color: rgba(0, 0, 0, .75);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* END LOADER CSS */
#app {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

  background-color: #f9f9f9;
}
.grid
{
  display: grid;
  grid-gap: 1em;
}
.four
{
  grid-template-columns: repeat(4, 1fr);
} 
.column{

}
.card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid rgba(0, 0, 0, .2);
  padding: 1em;
}
.card input{
  width: 100%;
  height: 30px;
  padding: .5em;
  margin-bottom: .7em;
  font-size: inherit;
  color: rgba(0, 0, 0, .6)
}
.card label{
  color: rgba(0, 0, 0, .4)
}
.card .description
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card .description p{
  line-height: 1.6;
}
.action{
display: flex;
justify-content: space-between;
width: 100%;
margin: .7em 0;
}
.btn{
  padding: .5em 1em;
  box-shadow: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
.btn-danger{
  background-color: rgb(224, 127, 127);
  border-color: rgb(224, 127, 127);
}
.btn-success
{
  background-color: rgb(91, 168, 212);
  border-color: rgb(91, 168, 212);
}

</style>
